.container {
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
    margin: 15px 20px 20px 20px;
}

.titleresult {
    margin-bottom: 20px;
    text-align: center;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    color: #003366;
}

.results {
    display: flex;
    flex-direction: column;
}

.resultItem {
    background: #fff;
    padding: 15px 20px;
    border-radius: 10; /* Убираем обводку */
}

.resultItem:not(:last-child) {
    border-bottom: 1px solid #e1e1e1; /* Линия между блоками */
}

.resultItem:hover {
    background: #f9f9f9; /* Легкий серый при наведении */
    transition: background-color 0.3s;
    border-radius: 10px;
}

.resultItem > span {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #333;
}

.title {
    font-weight: bold;
    font-size: 24px;
    color: #003366;
}

.year {
    font-weight: normal;
    color: #666;
}

.author {
    font-size: 14px;
    color: #555;
}

.details {
    font-size: 14px;
    color: #555;
}

.downloadLink {
    display: inline-block;
    margin-top: 10px;
    color: #003366;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    transition: color 0.3s;
}

.downloadLink:hover {
    color: #005599;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.pageButton {
    background: none;
    border: 1px solid #ccc;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.pageButton:hover {
    background-color: #003366;
    color: white;
}

.pageButton.active {
    background-color: #003366;
    color: white;
}

.noResults {
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    margin-top: 20px;
}