.myModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.8s ease, visibility 0.8s ease;
    z-index: 1002;
}

.myModal.active {
    opacity: 1;
    visibility: visible;
}

.myModalContent {
    min-width: 900px;
    min-height: 400px;
    transition: transform 0.8s ease;
}