.container {
    margin: 20px auto;
    width: 900px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fcfdfd;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;

}

.toptext{
    display: flex;
    flex-direction: column; 
    margin-bottom: 20px;
    align-items: center; 
    text-align: center; 
  }
  
  .toptext h1 {
    margin-bottom: 10px; 
  }

  .toptext h3 {
    color:#1c222b;
    font-weight: 500;
  }

  .toptext p {
    color: #64748B;
    font-weight: 500;
    font-size: 14px;
    margin-top: 0; 
  }

  .text{
    color: #475569;
    font-size: 17px;
    width: 85%;
    margin: 20px auto 40px;
    text-align: left;
    font-weight: 500;
    line-height: 2;
  }

  .buttomcontainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

